<div class="row">
    <div class="col-lg-12">
        <div class="well">
            <form name ="newOpportunityForm" class="bs-example form-horizontal" novalidate ng-submit="save()">
                <fieldset>
                    <legend>{{title}}</legend>
                    <div class="form-group">
                        <label for="addOppClient" class="col-lg-2 control-label">Client</label>
                        <div class="col-lg-7">
                            <input type="text" class="form-control" id="addOppClient" name = "addOppClient" placeholder="Enter Client Name..." ng-model="newOpportunity.client" required ng-maxlength="200">
                            <span class="error" ng-show="newOpportunityForm.addOppClient.$error.required">Client Name is required</span>
                            <span class="error" ng-show="newOpportunityForm.addOppClient.$error.maxlength">Max Length for Client name is 200</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="addOppDescription" class="col-lg-2 control-label">Opportunity Description</label>
                        <div class="col-lg-10">
                            <textarea class="form-control" rows="5" id="addOppDescription" name="addOppDescription" placeholder="Enter Opportunity Description..." ng-model="newOpportunity.description" required ng-maxlength="5000"></textarea>
                            <span class="error" ng-show="newOpportunityForm.addOppDescription.$error.required">Client Name is required</span>
                            <span class="error" ng-show="newOpportunityForm.addOppDescription.$error.maxlength">Max Length for Description is 5000</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="addOppSector" class="col-lg-2 control-label">Sector</label>
                        <div class="col-lg-4">
                            <input type="text" class="form-control" id="addOppSector" name="addOppSector" placeholder="Enter Sector..." ng-model="newOpportunity.sector" required ng-maxlength="100">
                            <span class="error" ng-show="newOpportunityForm.addOppSector.$error.required">Sector is required</span>
                            <span class="error" ng-show="newOpportunityForm.addOppSector.$error.maxlength">Max Length for Sector is 100</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="addOppPrimaryContact" class="col-lg-2 control-label">Primary Contact</label>
                        <div class="col-lg-4">
                            <input type="text" class="form-control" id="addOppPrimaryContact" name="addOppPrimaryContact" placeholder="Enter Name of Primary Contact Person..." ng-model="newOpportunity.primaryContact" required ng-maxlength="100">
                            <span class="error" ng-show="newOpportunityForm.addOppPrimaryContact.$error.required">Primary Contact is required</span>
                            <span class="error" ng-show="newOpportunityForm.addOppPrimaryContact.$error.maxlength">Max Length for Primary Contact is 100</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="addOppTelno" class="col-lg-2 control-label">Telephone Number</label>
                        <div class="col-lg-3">
                            <input type="text" class="form-control" id="addOppTelno" name="addOppTelno" placeholder="Enter Telephone Number..." ng-model="newOpportunity.telno" required ng-maxlength="20">
                            <span class="error" ng-show="newOpportunityForm.addOppTelno.$error.required">Telephone number is required</span>
                            <span class="error" ng-show="newOpportunityForm.addOppTelno.$error.maxlength">Max Length for Telephone Number is 20</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">
                            <a href="#/opportunities" class="btn btn-default">Cancel</a>
                            <button type="submit" class="btn btn-primary" ng-disabled="newOpportunityForm.$invalid">Save</button>
                        </div>
                    </div>
                </fieldset>
            </form>
</div>
    </div>
</div>
