<div class="row">
    <div class="col-lg-12">            
        <table class="screen-title">
            <tbody>
                <tr>
                    <td><h4>{{title}}</h4></td>
                    <td class="text-right">
                        <!--<button type="button" class="btn btn-primary" ng-click="newOpportunity"><span class="glyphicon glyphicon-plus"></span>&nbsp;Create New</button>-->
                        <a href="#/opportunities/add" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span>&nbsp;Create New</a>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="progress progress-striped active" ng-show="isBusy">
        <div class="progress-bar" style="width: 100%"></div>
    </div>
</div>
<!--<div class="row">
    <div class="col-lg-4 input-group">
        <span class="input-group-addon input-small glyphicon glyphicon-search"></span>
        <input name="inputSearch" class="form-control input-small" type="text" placeholder="enter filter criteria..." />
    </div>
</div>-->
<div class="row">
    <div class="col-lg-12">
        <table class="table table-striped table-hover table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Client</th>
                    <th>Sector</th>
                    <th>Primary Contact</th>
                    <th>Contact No</th>
                    <th colspan="2">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="i in data.opportunities">
                    <td>{{i.id}}</td>
                    <td>{{i.client}}</td>
                    <td>{{i.sector}}</td>
                    <td>{{i.primaryContact}}</td>
                    <td>{{i.telno}}</td>
                    <td><button class="btn btn btn-link btn-small"><span class="glyphicon glyphicon-edit"></span>&nbsp;Edit</button></td>
                    <td><button class="btn btn btn-link btn-small"><span class="glyphicon glyphicon-remove"></span>&nbsp;Delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
